In [42]:
import pandas as pd

## Simple recommendations based on counts

In [43]:
#load the restaurants
restaurants = pd.read_csv("RCdata/geoplaces2.csv", encoding="latin-1")
restaurants

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [44]:
#load the cuisine
cuisine = pd.read_csv('RCdata/chefmozcuisine.csv')
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [45]:
#load the ratings (0 - worst, 2 - best)
ratings = pd.read_csv('RCdata/rating_final.csv')
ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

#### ❓Q1. Using the `ratings` dataframe, obtain the mean and number of the overall rating (denoted by `rating`) for each place.
*Hint: Read up on [`groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)*

In [46]:
#TODO
ratings_agg = ratings.iloc[:,1:]
ratings_agg = ratings_agg.groupby(["placeID"]).agg(["mean", "count"])
ratings_agg.head()

        rating       food_rating       service_rating
          mean count        mean count           mean count
placeID
132560    0.50     4        1.00     4       0.250000     4
132561    0.75     4        1.00     4       1.000000     4
132564    1.25     4        1.25     4       1.500000     4
132572    1.00    15        1.00    15       0.933333    15
132583    1.00     4        1.00     4       1.250000     4

#### ❓Q2. 
1. Merge 1) `restaurant`, 2) `cuisine` and 3) (the results from Q1 as 2 new columns: `ratings_mean` and `ratings_count`) into a single dataframe.
2. Keep only following columns `placeID`, `ratings_mean`, `ratings_count`, `name`, `cuisine` (which we have to rename from `Rcuisine`)
3. Name this dataframe `restaurants_combined`

In [47]:
#TODO
restaurants_combined = restaurants.merge(cuisine)

In [48]:
ratings_agg = ratings_agg.iloc[:, 0:2]
ratings_agg.columns = ["ratings_mean", "ratings_count"]
ratings_agg = ratings_agg.reset_index()
restaurants_combined = restaurants_combined.merge(ratings_agg)
restaurants_combined

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,accessibility,price,url,Rambience,franchise,area,other_services,Rcuisine,ratings_mean,ratings_count
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none,Japanese,1.600000,5
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,completely,low,?,familiar,f,open,none,Mexican,1.281250,32
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,partially,medium,?,familiar,f,open,none,Mexican,1.200000,10
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,completely,low,?,familiar,t,closed,none,Armenian,1.250000,4
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,completely,medium,?,familiar,t,closed,none,Mexican,1.166667,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,completely,medium,?,familiar,f,closed,none,Bakery,1.400000,5
108,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,completely,medium,?,familiar,f,closed,none,Cafeteria,1.400000,5
109,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none,Japanese,1.250000,8
110,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,no_accessibility,medium,?,quiet,f,closed,Internet,Italian,1.000000,4
111,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,completely,low,?,familiar,f,closed,none,Bar,1.333333,6

In [49]:
restaurants_combined = restaurants_combined[["placeID", "name", "ratings_mean", "ratings_count", "Rcuisine"]]

In [50]:
restaurants_combined = restaurants_combined.rename(columns={"Rcuisine":"cuisine"})
restaurants_combined

,placeID,name,ratings_mean,ratings_count,cuisine
0,134999,Kiku Cuernavaca,1.600000,5,Japanese
1,132825,puesto de tacos,1.281250,32,Mexican
2,135106,El Rincón de San Francisco,1.200000,10,Mexican
3,132667,little pizza Emilio Portes Gil,1.250000,4,Armenian
4,132613,carnitas_mata,1.166667,6,Mexican
...,...,...,...,...,...
107,132866,Chaires,1.400000,5,Bakery
108,132866,Chaires,1.400000,5,Cafeteria
109,135072,Sushi Itto,1.250000,8,Japanese
110,135109,Paniroles,1.000000,4,Italian
111,135019,Restaurant Bar Coty y Pablo,1.333333,6,Bar

In [51]:
restaurants_combined

,placeID,name,ratings_mean,ratings_count,cuisine
0,134999,Kiku Cuernavaca,1.600000,5,Japanese
1,132825,puesto de tacos,1.281250,32,Mexican
2,135106,El Rincón de San Francisco,1.200000,10,Mexican
3,132667,little pizza Emilio Portes Gil,1.250000,4,Armenian
4,132613,carnitas_mata,1.166667,6,Mexican
...,...,...,...,...,...
107,132866,Chaires,1.400000,5,Bakery
108,132866,Chaires,1.400000,5,Cafeteria
109,135072,Sushi Itto,1.250000,8,Japanese
110,135109,Paniroles,1.000000,4,Italian
111,135019,Restaurant Bar Coty y Pablo,1.333333,6,Bar

#### ❓Q3. Get the top 10 restaurant recommendation with the highest mean ratings.

In [52]:
#TODO
restaurants_combined.sort_values("ratings_mean", ascending=False).head(10)

,placeID,name,ratings_mean,ratings_count,cuisine
39,132955,emilianos,2.000000,5,Bar_Pub_Brewery
94,134986,Restaurant Las Mananitas,2.000000,8,International
41,135034,Michiko Restaurant Japones,2.000000,5,Japanese
76,132922,cafe punta del cielo,1.833333,6,Cafeteria
81,132755,La Estrella de Dimas,1.800000,5,Mexican
44,135074,Restaurante la Parroquia Potosina,1.750000,4,Contemporary
90,134976,Log Yin,1.750000,4,Burgers
89,134976,Log Yin,1.750000,4,Mediterranean
88,134976,Log Yin,1.750000,4,Mexican
43,135055,la Cochinita Pibil Restaurante Yucateco,1.714286,7,Mexican

#### ❓Q4. Get the top 10 restaurant recommendation with the highest ratings count.

In [53]:
#TODO
restaurants_combined.sort_values("ratings_count", ascending=False).head(10)

,placeID,name,ratings_mean,ratings_count,cuisine
103,135085,Tortas Locas Hipocampo,1.333333,36,Fast_Food
1,132825,puesto de tacos,1.281250,32,Mexican
101,135032,Cafeteria y Restaurant El Pacifico,1.178571,28,Contemporary
100,135032,Cafeteria y Restaurant El Pacifico,1.178571,28,Cafeteria
49,135052,La Cantina Restaurante,1.280000,25,Bar_Pub_Brewery
62,132834,Gorditas Doa Gloria,1.000000,25,Mexican
48,135052,La Cantina Restaurante,1.280000,25,Bar
42,135060,Restaurante Marisco Sam,1.136364,22,Seafood
21,135042,Restaurant Oriental Express,1.250000,20,Chinese
16,132862,La Posada del Virrey,1.388889,18,International

#### ❓Q5. Get the top 3 fast food restaurant recommendation with the highest ratings count.

In [54]:
#TODO
fastfood = restaurants_combined[restaurants_combined.cuisine=="Fast_Food"]
fastfood_top3 = fastfood.sort_values("ratings_count", ascending=False).head(3)
fastfood_top3

,placeID,name,ratings_mean,ratings_count,cuisine
103,135085,Tortas Locas Hipocampo,1.333333,36,Fast_Food
36,135046,Restaurante El Reyecito,1.272727,11,Fast_Food
10,135086,Mcdonalds Parque Tangamanga,0.800000,10,Fast_Food

## Collaborative Filtering

#### ❓Q6. Using the `ratings` dataframe, obtain the utility matrix where the columns are the places and the rows are the users.
*Hint: Read up on [`pivot_table()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)*

In [55]:
#TODO
utility_matrix = pd.pivot_table(data=ratings, index="userID", columns="placeID", values="rating")
utility_matrix

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
U1136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### ❓Q7. Using the utility matrix from Q6, find the list of users who have rated and their rating for placeID = 135085.

In [56]:
#TODO
r_135085 = 135085
reviewer_ratings_135085 = utility_matrix[r_135085].dropna()
reviewer_ratings_135085

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64

#### ❓Q8. Using the utility matrix from Q6, find the top 10 restaurants most similar to placeID = 135085 using Pearson's Correlation Coefficient. 
In the lecture hands-on we have calculated the correlation value manually. Pandas does provide a function [`corrwith()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corrwith.html) to calculate the correlation between 2 columns/rows.

However, note that the calculation is slightly different - specifically, the normalization of each *r<sub>u,i</sub>* & *r<sub>v,i</sub>* only consider mean of the common rated items of *u* & *v* rather than all the available ratings for *u* and *v*).

This can potentially cause some problems in some scenarios (e.g. https://stats.stackexchange.com/questions/262925/is-there-a-serious-problem-with-dropping-observations-with-missing-values-when-c) but for simplicity we will just use it for this lab.

In [57]:
#TODO
correlation_with_135085 = utility_matrix.corrwith(utility_matrix[r_135085]).dropna()
correlation_with_135085 = correlation_with_135085.drop(r_135085)

C:\Users\22507\anaconda3\lib\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\22507\anaconda3\lib\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [58]:
top_place_id = correlation_with_135085.sort_values(ascending=False)[:10]

In [59]:
top_place_id = top_place_id.index.values
top_place_id

array([135076, 132925, 135066, 132937, 132922, 135053, 132754, 135045,
       135062, 135028], dtype=int64)

In [60]:
restaurants_combined[restaurants_combined.placeID.isin(top_place_id)]

,placeID,name,ratings_mean,ratings_count,cuisine
13,132937,rockabilly,1.500000,4,Bar
24,135053,La Fontana Pizza Restaurante and Cafe,1.125000,8,Cafeteria
25,135053,La Fontana Pizza Restaurante and Cafe,1.125000,8,Fast_Food
26,135053,La Fontana Pizza Restaurante and Cafe,1.125000,8,Pizzeria
38,132925,el pueblito,1.000000,5,Mexican
76,132922,cafe punta del cielo,1.833333,6,Cafeteria
98,132754,Cabana Huasteca,1.461538,13,Mexican
102,135028,La Virreina,1.533333,15,Mexican

#### ❓Q9. We should have noticed that some of the correlation value generated in Q8 is 1.0.
Go through all these restaurants and determine
1) the number of users rated each of these restaurants and placeID=135085, and 
2) all the rating given by that user. 

This is to check whether the correlation of 1 is because of limited number of common ratings for both restaurant (and that the users usually give similar rating for the restaurants).

In [61]:
#correlation_with_135085.sort_values(ascending=False)
similar_places_135085 = correlation_with_135085[correlation_with_135085==1.0]
similar_places_135085 = similar_places_135085.index.values
similar_places_135085

array([132922, 132925, 132937, 135066, 135076], dtype=int64)

In [62]:
reviewers_135085 = reviewer_ratings_135085.index.values
reviewers_135085 = set(reviewers_135085)
reviewers_135085

{'U1001',
 'U1002',
 'U1007',
 'U1013',
 'U1016',
 'U1027',
 'U1029',
 'U1032',
 'U1033',
 'U1036',
 'U1045',
 'U1046',
 'U1049',
 'U1056',
 'U1059',
 'U1062',
 'U1077',
 'U1081',
 'U1084',
 'U1086',
 'U1089',
 'U1090',
 'U1092',
 'U1098',
 'U1104',
 'U1106',
 'U1108',
 'U1109',
 'U1113',
 'U1116',
 'U1120',
 'U1122',
 'U1132',
 'U1134',
 'U1135',
 'U1137'}

In [63]:
ratings

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
...     ...      ...     ...          ...             ...
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [64]:
#TODO
# for each place in similar places
# find reviewers of each place
# find intersection between reviewers of each place & reviewers of 135085
# we get list of common reviewers

# for each common reviewer, print their ratings


for placeid in similar_places_135085:
    reviewers = set(utility_matrix[placeid].dropna().index.values)
    print(f"Place ID: {placeid}, total: {len(reviewers)}")
    
    reviewers_intersection = reviewers_135085.intersection(reviewers)
    print(f"Number of Common reviewers: {len(reviewers_intersection)}")
    
    for userid in reviewers_intersection:
        print("_____")
        user_ratings = ratings[ratings.userID==userid]
        print(f"User ID: {userid} \n{user_ratings.rating.value_counts()}")
    print("=======================================")
    print("++++\n+++\n++\n+")

Place ID: 132922, total: 6
Number of Common reviewers: 3
_____
User ID: U1090
2    8
1    2
Name: rating, dtype: int64
_____
User ID: U1086
2    5
1    4
Name: rating, dtype: int64
_____
User ID: U1029
1    7
0    2
2    1
Name: rating, dtype: int64
=======================================
++++
+++
++
+
Place ID: 132925, total: 5
Number of Common reviewers: 3
_____
User ID: U1090
2    8
1    2
Name: rating, dtype: int64
_____
User ID: U1002
1    6
2    4
Name: rating, dtype: int64
_____
User ID: U1027
1    10
0     1
Name: rating, dtype: int64
=======================================
++++
+++
++
+
Place ID: 132937, total: 4
Number of Common reviewers: 3
_____
User ID: U1086
2    5
1    4
Name: rating, dtype: int64
_____
User ID: U1027
1    10
0     1
Name: rating, dtype: int64
_____
User ID: U1029
1    7
0    2
2    1
Name: rating, dtype: int64
=======================================
++++
+++
++
+
Place ID: 135066, total: 12
Number of Common reviewers: 5
_____
User ID: U1016
2    12
1     1
Name: rating, dtype: int64
_____
User ID: U1122
2    11
1     1
Name: rating, dtype: int64
_____
User ID: U1056
2    9
0    1
Name: rating, dtype: int64
_____
User ID: U1027
1    10
0     1
Name: rating, dtype: int64
_____
User ID: U1106
2    12
0     5
1     1
Name: rating, dtype: int64
=======================================
++++
+++
++
+
Place ID: 135076, total: 13
Number of Common reviewers: 3
_____
User ID: U1081
1    6
0    5
Name: rating, dtype: int64
_____
User ID: U1056
2    9
0    1
Name: rating, dtype: int64
_____
User ID: U1013
1    5
2    5
Name: rating, dtype: int64
=======================================
++++
+++
++
+

#### ❓Q10. Ideally when answering Q8, we want to ensure that we only consider similiar restaurants with more than a certain threshold of common ratings ( `REVIEWERS_OVERLAP_THRESHOLD`). Produce the top 10 recommendations again taking this into consideration.

In [65]:
REVIEWERS_OVERLAP_THRESHOLD = 5

In [66]:
#TODO
#reviewers_135085

In [67]:
correlation_with_135085DF = pd.DataFrame({"corr": correlation_with_135085, "numRaters": 0})
correlation_with_135085DF

for placeid in correlation_with_135085DF.index:
    reviewers = set(utility_matrix[placeid].dropna().index.values)
    reviewers_intersection = reviewers_135085.intersection(reviewers)
    correlation_with_135085DF.loc[placeid, "numRater"] = len(reviewers_intersection)

#correlation_with_135085DF

In [68]:
filtered_top_place_id = correlation_with_135085DF[correlation_with_135085DF.numRater > REVIEWERS_OVERLAP_THRESHOLD]

In [69]:
filtered_top_place_id = filtered_top_place_id.sort_values(by="corr", ascending=False)[:10].index.values
filtered_top_place_id

array([132754, 135045, 135062, 135028, 135042, 135046, 132872, 135038,
       132834, 135052], dtype=int64)

In [70]:
restaurants_combined[restaurants_combined.placeID.isin(filtered_top_place_id)]

,placeID,name,ratings_mean,ratings_count,cuisine
21,135042,Restaurant Oriental Express,1.250000,20,Chinese
36,135046,Restaurante El Reyecito,1.272727,11,Fast_Food
48,135052,La Cantina Restaurante,1.280000,25,Bar
49,135052,La Cantina Restaurante,1.280000,25,Bar_Pub_Brewery
62,132834,Gorditas Doa Gloria,1.000000,25,Mexican
72,132872,Pizzeria Julios,0.916667,12,American
98,132754,Cabana Huasteca,1.461538,13,Mexican
102,135028,La Virreina,1.533333,15,Mexican

## User-based Collaborative Filtering (CF)

In Q8  We used the [`corrwith()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corrwith.html) to find the correlation between the current Dataframe against another Dataframe/Series. It is also possible to compute the pairwise correlation of all the columns using [`corr()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html).

In [71]:
utility_matrix = pd.pivot_table(data = ratings, values = 'rating', index = 'userID', columns = 'placeID')
utility_matrix.head()

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
utility_matrix.T.head()

userID,U1001,U1002,U1003,U1004,U1005,U1006,U1007,U1008,U1009,U1010,...,U1129,U1130,U1131,U1132,U1133,U1134,U1135,U1136,U1137,U1138
placeID,,,,,,,,,,,,,,,,,,,,,
132560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132572,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
132583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
utility_matrix.T.shape

(130, 138)

In [74]:
correlation_matrix = utility_matrix.T.corr()
correlation_matrix

userID,U1001,U1002,U1003,U1004,U1005,U1006,U1007,U1008,U1009,U1010,...,U1129,U1130,U1131,U1132,U1133,U1134,U1135,U1136,U1137,U1138
userID,,,,,,,,,,,,,,,,,,,,,
U1001,1.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.301511,NaN,-1.000000,NaN,NaN,NaN,NaN
U1002,1.0,1.000000,-0.522233,NaN,NaN,NaN,NaN,NaN,-0.577350,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,1.0
U1003,NaN,-0.522233,1.000000,NaN,NaN,NaN,NaN,NaN,-0.612372,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.353553,NaN,1.0,NaN,NaN
U1004,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1005,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,-1.0,-1.000000,-0.353553,NaN,NaN,-0.534522,NaN,NaN,0.577350,-5.551115e-17,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
U1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1136,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
U1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.612372,1.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
U1138,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [75]:
#one small thing to be careful
#if all the ratings are all 0 it might result in nan
#even for the values at the diagonal!
df1 = pd.DataFrame([[0,0], [0,0]])
df1.corr()

ratings[ratings.userID=="U1135"]

    userID  placeID  rating  food_rating  service_rating
695  U1135   135085       0            0               0
696  U1135   135106       0            0               0
697  U1135   135052       0            0               0
698  U1135   135041       0            0               0
705  U1135   132825       0            0               0
706  U1135   132834       0            0               0
710  U1135   135058       0            0               0
712  U1135   135063       0            0               0
713  U1135   132856       0            0               0
714  U1135   135045       0            0               0
715  U1135   135028       0            0               0
716  U1135   135032       0            0               0
717  U1135   135042       0            0               0
718  U1135   135060       0            0               0

#### ❓Q11. Perform User-based CF to assign the rating prediction for all NaN in the utility matrix from Q6. 
To determine *N*, we will only consider those similarity value that is greater than 0. 

If *N* cannot be determined, just use the mean rating of that user.

In [76]:
#TODO
num_users, num_restaurants = utility_matrix.shape
print(num_users)
print(num_restaurants)

138
130

In [77]:
restuarant_reviewers = []
for j in range(num_restaurants):
    has_reviewed = ~utility_matrix.iloc[:,j].isna()
    restuarant_reviewers.append(utility_matrix.index[has_reviewed].values)
#restuarant_reviewers

In [78]:
utility_matrix_prediction = utility_matrix.copy()
utility_matrix_prediction

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
U1136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# for each user
for i in range(num_users):
    
    # get the user id
    this_user_id = utility_matrix.index[i]
    
    # find mean rating
    mean_rating = utility_matrix.iloc[i].mean()
    
    # find the correlations results, drop NA
    user_correlation_value = correlation_matrix[this_user_id].dropna()
    
    # filter similar users with corr > 0
    similar_users = user_correlation_value[user_correlation_value > 0]
    
    # remove the user himself
    similar_users = similar_users[similar_users.index != this_user_id]

    # for each restaurant
    for j in range(num_restaurants):
   
        # check if there is no current rating
        if pd.isnull(utility_matrix.iloc[i,j]):

            # find the restaurant's reviewers
            reviewers_list = restuarant_reviewers[j]

            # find the similar users who have rated the restaurant
            utility_matrix_prediction.iloc[i,j] = similar_users[similar_users.index.isin(reviewers_list)].mean()

            # if after prediction, the rating is still NaN
            if pd.isnull(utility_matrix_prediction.iloc[i,j]):
                
                # assign the user's mean rating
                utility_matrix_prediction.iloc[i,j] = mean_rating

In [80]:
utility_matrix

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
U1136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
utility_matrix_prediction

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,1.111111,1.111111,1.111111,0.666667,1.111111,1.111111,1.111111,1.111111,1.111111,1.111111,...,1.111111,1.111111,1.111111,0.000000,1.111111,1.111111,1.111111,1.000000,1.111111,1.111111
U1002,1.400000,1.400000,1.400000,1.000000,1.400000,1.400000,1.400000,1.400000,1.400000,1.400000,...,1.400000,1.400000,1.400000,1.000000,1.000000,1.400000,1.400000,1.000000,1.400000,1.400000
U1003,1.615385,1.615385,1.615385,0.866025,1.615385,1.615385,1.615385,1.615385,1.615385,1.615385,...,2.000000,1.615385,1.615385,0.722508,0.933013,1.615385,1.615385,0.559017,1.615385,1.615385
U1004,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,...,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,1.875000,2.000000,1.875000,1.875000
U1005,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,1.333333,...,1.333333,0.519702,0.483849,0.668519,1.333333,1.333333,1.333333,0.558026,0.630874,1.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,1.437500,1.437500,1.437500,0.000000,1.437500,1.437500,1.437500,1.437500,1.437500,1.437500,...,1.000000,1.437500,1.437500,2.000000,0.518923,1.437500,1.437500,0.612372,1.437500,1.437500
U1135,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
U1136,1.600000,1.600000,1.600000,0.583333,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,...,1.000000,1.600000,1.600000,1.600000,0.581339,1.600000,1.600000,1.600000,1.600000,1.600000
U1137,1.857143,1.857143,1.857143,0.492799,1.857143,1.857143,1.857143,1.857143,1.857143,1.857143,...,0.408248,1.857143,1.857143,2.000000,0.661866,1.857143,1.857143,1.857143,1.857143,1.857143
U1138,1.666667,1.666667,1.666667,1.666667,1.666667,1.666667,1.666667,1.666667,1.666667,1.666667,...,1.666667,1.666667,1.666667,1.000000,1.666667,1.666667,1.666667,1.000000,1.666667,1.666667

#### ❓Q12. For each of the user, recommend the top 5 restaurants (which the user has not rated).

In [82]:
#TODO
# for each user
for i in range(num_users):
    
    # get user id (for printing)
    this_user_id = utility_matrix.index[i]
    
    # get unrated restaurants (boolean)
    unrated_restaurants = utility_matrix.iloc[i].isna()

    # filter predictions for unrated restarurants, sort descending, pick first 5
    recommended_place_id = utility_matrix_prediction.iloc[i][unrated_restaurants].sort_values(ascending=False)[:5]
    
    # print
    print(f"Recommended for {this_user_id}: {recommended_place_id.index.values}")

Recommended for U1001: [132560 132951 135043 135042 135035]
Recommended for U1002: [132560 134987 135016 135013 135011]
Recommended for U1003: [132560 134999 135021 135019 135018]
Recommended for U1004: [132560 135018 135047 135046 135044]
Recommended for U1005: [132560 134976 135011 135001 135000]
Recommended for U1006: [132560 135011 135039 135033 135032]
Recommended for U1007: [132825 135035 132875 135064 132884]
Recommended for U1008: [132560 135033 135047 135046 135045]
Recommended for U1009: [132560 132870 135001 135000 134999]
Recommended for U1010: [135059 132862 132755 132884 135049]
Recommended for U1011: [132560 135035 135050 135049 135048]
Recommended for U1012: [132560 134987 135048 135047 135046]
Recommended for U1013: [132560 135035 135027 135025 135021]
Recommended for U1014: [132560 134992 135021 135019 135018]
Recommended for U1015: [135051 135081 135057 135041 135069]
Recommended for U1016: [132560 134999 135026 135025 135021]
Recommended for U1017: [132560 135035 135050 135049 135048]
Recommended for U1018: [135060 135052 135038 135040 135033]
Recommended for U1019: [132560 134996 135048 135047 135046]
Recommended for U1020: [132560 135033 135048 135047 135046]
Recommended for U1021: [132560 135035 135050 135049 135048]
Recommended for U1022: [132560 134976 135001 135000 134999]
Recommended for U1023: [135104 132594 132663 132660 132732]
Recommended for U1024: [132560 134987 135016 135013 135011]
Recommended for U1025: [132560 134992 135018 135016 135013]
Recommended for U1026: [132560 135038 135051 135050 135049]
Recommended for U1027: [135050 135055 132885 135076 135043]
Recommended for U1028: [135000 135052 135050 135049 135048]
Recommended for U1029: [135051 132856 135028 132560 134999]
Recommended for U1030: [134992 135001 135021 134975 132766]
Recommended for U1031: [132560 135035 135050 135049 135048]
Recommended for U1032: [132560 132921 135019 135018 135016]
Recommended for U1033: [132560 132861 135013 135011 135001]
Recommended for U1034: [135048 135074 135046 135072 132755]
Recommended for U1035: [132560 135052 135050 135049 135048]
Recommended for U1036: [132560 134996 135019 135018 135016]
Recommended for U1037: [132560 135044 135040 135039 135035]
Recommended for U1038: [135064 135066 135062 135041 135042]
Recommended for U1039: [132560 135035 135050 135049 135048]
Recommended for U1040: [132560 135035 135050 135049 135048]
Recommended for U1041: [132560 135052 135050 135049 135048]
Recommended for U1042: [132560 135053 135051 135050 135049]
Recommended for U1043: [132560 135038 135051 135050 135049]
Recommended for U1044: [132560 135052 135050 135049 135048]
Recommended for U1045: [132560 132866 135001 135000 134999]
Recommended for U1046: [132560 135000 135027 135025 135021]
Recommended for U1047: [132560 135035 135050 135049 135048]
Recommended for U1048: [132560 135016 135040 135039 135038]
Recommended for U1049: [132560 134992 135049 135048 135047]
Recommended for U1050: [132561 135053 135051 135050 135049]
Recommended for U1051: [132560 135033 135048 135047 135046]
Recommended for U1052: [132560 135050 135048 135047 135046]
Recommended for U1053: [132560 134986 135013 135011 135001]
Recommended for U1054: [132560 135021 135018 135016 135013]
Recommended for U1055: [132560 135018 135046 135044 135043]
Recommended for U1056: [132560 135034 135030 135028 135026]
Recommended for U1057: [132560 135032 135048 135047 135045]
Recommended for U1058: [132560 132954 135038 135035 135034]
Recommended for U1059: [132560 132925 135035 135034 135033]
Recommended for U1060: [132560 135035 135050 135049 135048]
Recommended for U1061: [132560 132869 135019 135018 135016]
Recommended for U1062: [132560 134992 135048 135047 135046]
Recommended for U1063: [134999 135035 135050 135049 135048]
Recommended for U1064: [132560 132925 135034 135027 135026]
Recommended for U1065: [132560 135038 135051 135050 135049]
Recommended for U1066: [132560 135040 135052 135051 135050]
Recommended for U1067: [132561 135035 135050 135049 135048]
Recommended for U1068: [132717 132564 132715 135045 135040]
Recommended for U1069: [132866 135054 132870 132869 132830]
Recommended for U1070: [132560 135035 135050 135049 135048]
Recommended for U1071: [132560 132877 135026 135021 135019]
Recommended for U1072: [132560 135035 135050 135049 135048]
Recommended for U1073: [132560 135032 135046 135045 135044]
Recommended for U1074: [132560 135035 135050 135049 135048]
Recommended for U1075: [132560 132561 135013 135011 135001]
Recommended for U1076: [132560 135011 135044 135040 135035]
Recommended for U1077: [132560 134996 135021 135019 135018]
Recommended for U1078: [132560 132951 134996 134992 132561]
Recommended for U1079: [132560 135053 135051 135050 135049]
Recommended for U1080: [132560 135038 135051 135050 135049]
Recommended for U1081: [132872 132885 132854 135046 135053]
Recommended for U1082: [132740 135104 132660 132561 135046]
Recommended for U1083: [132560 135013 135038 135033 135032]
Recommended for U1084: [132560 132922 135033 135032 135028]
Recommended for U1085: [132560 134999 135026 135025 135021]
Recommended for U1086: [132560 135035 135019 135018 135016]
Recommended for U1087: [132561 135052 135050 135049 135048]
Recommended for U1088: [132560 134996 135026 135021 135019]
Recommended for U1089: [135048 132954 132922 135030 132884]
Recommended for U1090: [132560 134999 135021 135019 135018]
Recommended for U1091: [132560 135045 135043 135042 135041]
Recommended for U1092: [132830 135039 135045 132875 135033]
Recommended for U1093: [132560 135053 135051 135050 135049]
Recommended for U1094: [132560 135046 135044 135043 135042]
Recommended for U1095: [132560 132877 135038 135033 135027]
Recommended for U1096: [132560 135000 135033 135027 135021]
Recommended for U1097: [132560 135016 135038 135033 135032]
Recommended for U1098: [132560 132869 135013 135011 135001]
Recommended for U1099: [132560 135021 135018 135016 135013]
Recommended for U1100: [132560 135038 135051 135050 135049]
Recommended for U1101: [132560 134996 135026 135021 135019]
Recommended for U1102: [132560 135038 135051 135050 135049]
Recommended for U1103: [135001 135052 135050 135049 135048]
Recommended for U1104: [132560 135001 134999 134996 134992]
Recommended for U1105: [132560 135049 135047 135046 135045]
Recommended for U1106: [132560 135016 135011 135001 135000]
Recommended for U1107: [132560 135035 135050 135049 135048]
Recommended for U1108: [132560 132561 135011 135001 135000]
Recommended for U1109: [132560 135026 135021 135019 135018]
Recommended for U1110: [132560 135038 135051 135050 135049]
Recommended for U1111: [132560 135033 135047 135046 135045]
Recommended for U1112: [132872 132723 135059 132755 132937]
Recommended for U1113: [135054 132862 135043 135066 135069]
Recommended for U1114: [135046 135044 135074 135034 132572]
Recommended for U1115: [132560 132958 135040 135039 135038]
Recommended for U1116: [132560 134996 135021 135019 135018]
Recommended for U1117: [132560 135035 135050 135049 135048]
Recommended for U1118: [132767 135019 134986 134975 132766]
Recommended for U1119: [132560 135038 135051 135050 135049]
Recommended for U1120: [132560 132866 135000 134999 134996]
Recommended for U1121: [132560 135038 135051 135050 135049]
Recommended for U1122: [132560 135001 135033 135027 135025]
Recommended for U1123: [132560 135052 135050 135049 135048]
Recommended for U1124: [135062 135085 135051 135052 135027]
Recommended for U1125: [132560 134976 135011 135001 135000]
Recommended for U1126: [132560 132561 135013 135011 135001]
Recommended for U1127: [132560 135035 135050 135049 135048]
Recommended for U1128: [132560 135033 135047 135046 135045]
Recommended for U1129: [132560 135035 135050 135049 135048]
Recommended for U1130: [132665 132560 135038 135051 135050]
Recommended for U1131: [132560 134992 135046 135045 135044]
Recommended for U1132: [132560 132561 135011 135001 135000]
Recommended for U1133: [132560 135028 135043 135042 135041]
Recommended for U1134: [132560 134992 135013 135011 135001]
Recommended for U1135: [132560 135026 135047 135046 135044]
Recommended for U1136: [132560 135013 135039 135038 135033]
Recommended for U1137: [132560 134999 135021 135019 135018]
Recommended for U1138: [132560 134992 135047 135046 135045]

The codes for Item-based Collaborative Filtering is similar to to User-based Collaborative Filtering except that we transpose the utility matrix when calculating the correlation matrix. We will leave it to you to try out on your own.