In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from pandas import DataFrame
import time

In [2]:
urls = ['https://www.imdb.com/title/tt4154796',
         'https://www.imdb.com/title/tt4154664',
         'https://www.imdb.com/title/tt4154756',
         'https://www.imdb.com/title/tt2015381',
         'https://www.imdb.com/title/tt0848228',
         'https://www.imdb.com/title/tt2395427']

In [3]:
def imdb_scraper(html):
    soup = BeautifulSoup(html, 'html.parser')
    title_ele = soup.select_one('h1')

    #can also do title_ele.text.strip() but this will have some unicode symbols
    title = title_ele.get_text(strip = True)
    print(title)

    rating_ele = soup.select_one('div[data-testid="hero-rating-bar__aggregate-rating__score"] span')
    rating = float(rating_ele.text)
    return {'title': title, 'rating': rating}


#fake user agent (if not might get a 403 forbidden error)
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'}
page = requests.get(urls[0], headers=headers)
result = imdb_scraper(page.content)
result

Avengers: Endgame

{'title': 'Avengers: Endgame', 'rating': 8.4}

In [4]:
#results = DataFrame()
results = []
for url in urls:
    #print(url)
    time.sleep(0.1)
    page = requests.get(url, headers=headers)
    result = imdb_scraper(page.content)
    #print(result)
    #results = pd.concat([results, pd.DataFrame(result.values(), columns=result.keys())], ignore_index=True)
    results.append(result)

Avengers: Endgame
Captain Marvel
Avengers: Infinity War
Guardians of the Galaxy
The Avengers
Avengers: Age of Ultron

In [5]:
pd.DataFrame(results)

                     title  rating
0        Avengers: Endgame     8.4
1           Captain Marvel     6.8
2   Avengers: Infinity War     8.4
3  Guardians of the Galaxy     8.0
4             The Avengers     8.0
5  Avengers: Age of Ultron     7.3

In [7]:
#reorder the column names
results = results[['title', 'rating']]
results

TypeError: list indices must be integers or slices, not list