In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('csv/Tripadvisor_restaurant.csv', encoding='utf-8')

missing_values = ['None', 'null', 'N/A', '']
df = df.replace(missing_values, np.nan)
df = df.dropna()

columns_to_keep = ['place','price_type']
df_filtered = df[columns_to_keep]
df_filtered['price_type'].astype(str)

def replace_price(price):
    # 确保 price 是字符串类型
    if isinstance(price, str):
        if '¥¥ - ¥¥¥' in price:
            return 2
        elif '¥¥¥¥' in price:
            return 3
        elif '¥' in price:
            return 1
    return price
df_filtered['price_type'] = df_filtered['price_type'].apply(replace_price)

df_final_grouped = df_filtered.groupby('place').agg({'price_type': 'mean'}).reset_index()
df_final_grouped

df_final_grouped.to_csv('csv/location_price.csv', index=False)

C:\Users\22507\AppData\Local\Temp\ipykernel_16304\1717056774.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['price_type'] = df_filtered['price_type'].apply(replace_price)

In [68]:
df_final_grouped

               place  price_type
0             Bishan    1.750000
1           Crawford    1.769231
2            Frankel    2.000000
3            Hougang    2.000000
4    Maritime Square    2.093750
5            Maxwell    1.666667
6             Novena    1.807692
7          Serangoon    1.916667
8                三巴旺    2.000000
9                 东陵    2.142857
10             中区/城区    2.144262
11              丹戎巴葛    2.200000
12            亚历山德拉山    1.800000
13                加冷    2.000000
14               劳明达    2.000000
15                勿洛    2.000000
16               勿洛北    2.000000
17               圣淘沙    2.285714
18               大巴窑    2.000000
19               宏茂桥    2.000000
20            宏茂桥镇中心    2.000000
21              政府大厦    2.166667
22              新加坡河    2.117647
23                榜鹅    2.000000
24                樟宜    1.933333
25                欧南    1.000000
26              武吉巴督    2.000000
27              武吉班让    2.000000
28              武吉知马    1.930233
29              淡滨尼东    1.800000
30              淡滨尼西    2.000000
31              滨海广场    2.290323
32                盛港    2.000000
33  红山 (Bukit Merah)    2.035714
34                芽笼    1.900000
35            裕廊区域中心    2.100000
36               裕廊西    1.000000
37             裕廊西中央    1.800000
38             金文泰中央    2.000000
39              阿拉伯街    1.948718
40              马林百列    1.939394

In [54]:
columns_to_keep = ['place','price_type']
df_filtered = df[columns_to_keep]
df_filtered['price_type'].astype(str)

df_filtered

                place price_type
0               中区/城区   ¥¥ - ¥¥¥
2               中区/城区       ¥¥¥¥
3            Crawford   ¥¥ - ¥¥¥
5    红山 (Bukit Merah)          ¥
6    红山 (Bukit Merah)   ¥¥ - ¥¥¥
..                ...        ...
359             中区/城区   ¥¥ - ¥¥¥
394              马林百列          ¥
441                芽笼          ¥
479               勿洛北          ¥
484                樟宜          ¥

[83 rows x 2 columns]

In [55]:
def replace_price(price):
    # 确保 price 是字符串类型
    if isinstance(price, str):
        if '¥¥ - ¥¥¥' in price:
            return 3
        elif '¥¥¥¥' in price:
            return 4
        elif '¥' in price:
            return 1
    return price

df_filtered['price_type'] = df_filtered['price_type'].apply(replace_price)

df_filtered

C:\Users\22507\AppData\Local\Temp\ipykernel_35704\2688295598.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['price_type'] = df_filtered['price_type'].apply(replace_price)

                place  price_type
0               中区/城区           3
2               中区/城区           4
3            Crawford           3
5    红山 (Bukit Merah)           1
6    红山 (Bukit Merah)           3
..                ...         ...
359             中区/城区           3
394              马林百列           1
441                芽笼           1
479               勿洛北           1
484                樟宜           1

[83 rows x 2 columns]

In [56]:
df_final_grouped = df_filtered.groupby('place').agg({
    'price_type': 'mean'
}).reset_index()
df_final_grouped

               place  price_type
0           Crawford    3.000000
1            Frankel    2.000000
2    Maritime Square    1.000000
3            Maxwell    1.000000
4             Novena    1.000000
5          Serangoon    1.000000
6              中区/城区    1.948718
7                劳明达    3.000000
8                勿洛北    1.000000
9                圣淘沙    3.000000
10               大巴窑    1.000000
11              政府大厦    3.000000
12              新加坡河    2.000000
13                樟宜    2.428571
14              武吉知马    3.000000
15              滨海广场    1.000000
16  红山 (Bukit Merah)    2.333333
17                芽笼    1.000000
18              阿拉伯街    1.000000
19              马林百列    1.000000