In [34]:
import pandas as pd


df = pd.read_csv('csv/4600.csv', encoding='ISO-8859-1')

def aggregate_dishes(row):
    dishes = []
    for col in ['Dish 1 Name', 'Dish 2 Name', 'Dish 3 Name', 'Dish 4 Name', 'Dish 5 Name']:
        if pd.notna(row[col]):
            dishes.append(row[col])
    return ', '.join(dishes)

columns_to_keep = ['Restaurant Name', 'Review Rating', 'Dish 1 Name', 'Dish 2 Name', 'Dish 3 Name', 'Dish 4 Name', 'Dish 5 Name']
df_filtered = df[columns_to_keep]

df_filtered = df_filtered[df_filtered['Review Rating'] > 3]

df_filtered['Recommended Dishes'] = df_filtered.apply(aggregate_dishes, axis=1)

df_final = df_filtered[['Restaurant Name','Review Rating' ,'Recommended Dishes']]

df_final_grouped = df_final.groupby('Restaurant Name').agg({
    'Review Rating': 'mean',
    'Recommended Dishes': lambda x: ', '.join(set(', '.join(x).split(', ')))
}).reset_index()

df_final_grouped.to_csv('csv/recommended_dishes.csv', index=False)

In [24]:
df_filtered

,Restaurant Name,Review Rating,Dish 1 Name,Dish 2 Name,Dish 3 Name,Dish 4 Name,Dish 5 Name
0,Usman Restaurant,4,Daal Keema fry,Pala Paneer,Mix tandoor sizzler,Briyani rice,Kashmiri naan
1,Usman Restaurant,5,chicken tandoori,Price,NaN,NaN,NaN
2,Usman Restaurant,4,butter chicken,garlic naan,tandoori chicken,biryani rice,NaN
3,Usman Restaurant,4,garlic naan,chicken tandoori,pulled tea,NaN,NaN
4,Usman Restaurant,5,tandoori chicken,naan,tikka chicken,cheese naan,NaN
...,...,...,...,...,...,...,...
5823,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN
5826,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN
5828,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN
5830,Katong Keah Kee,4,NaN,NaN,NaN,NaN,NaN
5831,Katong Keah Kee,5,NaN,NaN,NaN,NaN,NaN

In [25]:
def aggregate_dishes(row):
    dishes = []
    for col in ['Dish 1 Name', 'Dish 2 Name', 'Dish 3 Name', 'Dish 4 Name', 'Dish 5 Name']:
        if pd.notna(row[col]):
            dishes.append(row[col])
    return ', '.join(dishes)

In [26]:
df_filtered['Recommended Dishes'] = df_filtered.apply(aggregate_dishes, axis=1)

df_filtered

,Restaurant Name,Review Rating,Dish 1 Name,Dish 2 Name,Dish 3 Name,Dish 4 Name,Dish 5 Name,Recommended Dishes
0,Usman Restaurant,4,Daal Keema fry,Pala Paneer,Mix tandoor sizzler,Briyani rice,Kashmiri naan,"Daal Keema fry, Pala Paneer, Mix tandoor sizzl..."
1,Usman Restaurant,5,chicken tandoori,Price,NaN,NaN,NaN,"chicken tandoori, Price"
2,Usman Restaurant,4,butter chicken,garlic naan,tandoori chicken,biryani rice,NaN,"butter chicken, garlic naan, tandoori chicken,..."
3,Usman Restaurant,4,garlic naan,chicken tandoori,pulled tea,NaN,NaN,"garlic naan, chicken tandoori, pulled tea"
4,Usman Restaurant,5,tandoori chicken,naan,tikka chicken,cheese naan,NaN,"tandoori chicken, naan, tikka chicken, cheese ..."
...,...,...,...,...,...,...,...,...
5823,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN,
5826,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN,
5828,Trattoria Lafiandra,5,NaN,NaN,NaN,NaN,NaN,
5830,Katong Keah Kee,4,NaN,NaN,NaN,NaN,NaN,
5831,Katong Keah Kee,5,NaN,NaN,NaN,NaN,NaN,

In [29]:
df_final = df_filtered[['Restaurant Name','Review Rating' ,'Recommended Dishes']]
df_final

,Restaurant Name,Review Rating,Recommended Dishes
0,Usman Restaurant,4,"Daal Keema fry, Pala Paneer, Mix tandoor sizzl..."
1,Usman Restaurant,5,"chicken tandoori, Price"
2,Usman Restaurant,4,"butter chicken, garlic naan, tandoori chicken,..."
3,Usman Restaurant,4,"garlic naan, chicken tandoori, pulled tea"
4,Usman Restaurant,5,"tandoori chicken, naan, tikka chicken, cheese ..."
...,...,...,...
5823,Trattoria Lafiandra,5,
5826,Trattoria Lafiandra,5,
5828,Trattoria Lafiandra,5,
5830,Katong Keah Kee,4,
5831,Katong Keah Kee,5,

In [30]:
df_final_grouped = df_final.groupby('Restaurant Name').agg({
    'Review Rating': 'mean',
    'Recommended Dishes': lambda x: ', '.join(set(', '.join(x).split(', ')))
}).reset_index()
df_final_grouped

,Restaurant Name,Review Rating,Recommended Dishes
0,83 Seafood Restaurant,5.000000,
1,A Noodle Story,4.615385,"Coffee, Tonkotsu Ramen, Pain au Chocolat, Omel..."
2,Ah Loy Thai,4.714286,
3,Ah Tai Hainanese Chicken Rice,4.671875,
4,Almost Famous,5.000000,
...,...,...,...
226,Zazz Pizza,4.833333,
227,Zhong Guo La Mian Xiao Long Bao,4.636364,
228,Zhong Hua Steamboat,5.000000,"Lobster Tail, Truffle Fries, Filet Mignon"
229,iO Italian Osteria,4.647059,"Pain au Chocolat, Cappuccino, BBQ Ribs, Garlic..."
230,Íú½ÇücÐÄ Mongkok Dim Sum,4.571429,